<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="{{{description}}}" content="">
    <meta name="{{{author}}}" content="">
    <title>{{{title}}}</title>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="bootstrap/css/docs.css" rel="stylesheet">
    <link href="bootstrap/js/google-code-prettify/prettify.css" rel="stylesheet">
</head>
<body>
<h1>{{{title}}}</h1>

<div>
    <ui>
        {{#each catalog}}
            <li><a href="{{{this.url}}}">{{this.chapter}}</a></li>
        {{/each}}
    </ui>
</div>
<<<<<<< HEAD
<div style="display:none;">
	<script src="https://s19.cnzz.com/z_stat.php?id=1262160781&web_id=1262160781" language="JavaScript"></script>
<div>
=======
>>>>>>> 32d68edd8d21575afb576b17e9b70593ed5300c6
</body>
</html>